<section class="mypostListTab">
            <script type="text/ng-template" id="mypostdtpl.html">
				<a class="topiclistimage" href="#/details/{{i.subReddit_topic}}/{{i.subReddit_ID}}/{{getPerm(i.subReddit_Permalink)}}/myPost/{{currentUserId}}/0/{{$index}}/0" style="background-image:url({{(i.subReddit_Thumbnail == 'default' || i.subReddit_Thumbnail == null || i.subReddit_Thumbnail == '' || i.subReddit_Thumbnail == 'self' || !i.subReddit_Thumbnail) ? 'images/no_image.png':i.subReddit_Thumbnail}});">
				<div class="ellipsis titleLabel" title="{{i.subReddit_Title}}">{{i.subReddit_Title}}</div>
				<span class="lockicon" ng-show="i._Post_Private"><img src="images/icon_lock.png" /></span>
				</a>
				<span class="removeicon" ng-click="removePost(i.subReddit_ID, $event)"><i class="fa fa-trash" aria-hidden="true" ng-show="isValidUser"></i></span>
				<div class="home-views-pan">
					<div>
						<i class="fa fa-arrow-up" aria-hidden="true"></i><i class="fa fa-arrow-down" aria-hidden="true"></i>
						<div class="pull-right">{{i.viewsCount}} views</div>
					</div>
				</div>
            </script>
         <div class="col-md-12 content" style="padding-bottom: 10px;" ng-show="!isPostEmpty">
            <h4 class="content-title" style="text-transform: capitalize;">My Post <span class="pull-right closeLink"><a href="javascript:history.back();" title=""><i class="fa fa-times" aria-hidden="true"></i></a></span></h4>
            <ul class="ng-isolate-scope slick-initialized slick-slider slick-dotted" style="margin-top: 0;">
				<li ng-repeat="i in postUserList" class="ng-scope slick-slide slick-active" data-enabled="false" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide11" style="margin: 10px 10px; height: auto !important;">
					<div>
						<div class="" ng-include="'mypostdtpl.html'"></div>
						<div class="loadingdataoverlay" ng-show="isloadingremovePost"><div class="loadingdata"><div class="sirflogo">Sirf</div></div></div>
					</div>
				</li>
			</ul>
         </div>
         <div class="col-md-12 nexturlpan text-center" ng-click="nextList();" ng-show="!isPostEmpty" ng-hide="!isNextAvailable">
         <div class="loadingdata" ng-show="!PostList.slickConfig1Loaded"><div class="sirflogo">Sirf</div></div>
			<span ng-if="!PostList.slickConfig1Loaded"><i class="icon-spinner icon-spin icon-2x"></i></span>
			<a href="javascript:void(0);" class="nextLink" ng-if="PostList.slickConfig1Loaded"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
		</div>
		<div ng-show="isPostEmpty" class="col-md-12 noUserData" style="padding:100px 0px;">
						<div class="noUserDataLabel">No Post<br>
							<a href="javascript:history.back();" style="font-size:12px;">Go to back</a>
						</div>
				</div>
</section>

