<div class="modal-header">
                <div class="modal-title title"><div class="customtitle">
					<h3>Beta disclaimer</h3>
				</div></div>
            </div>
            <div class="modal-body" style="padding: 0px;">
            <div class="registerContainer" style="width:630px;">
                <div class="col-md-12" style="padding:0px;">
                	<div class="col-md-12 bgwhite" style="border-radius: 30px;">
	<div class="col-md-12 content"  style="padding-top: 10px;">
			<p>Please note that this is a beta version of the SIRF website which is still undergoing testing before its official release. The website, its software and all content found on it are provided on an "as is" and "as available" basis. SIRF is not responsible for content sourced from external data sources.</p>

<p>SIRF will not be liable for any loss, whether such loss is direct, indirect, special or consequential, suffered by any party as a result of their use of the SIRF website, its software or content. Any downloading or uploading of material to the website is done at the user's own risk and the user will be solely responsible for any damage to any computer system or loss of data that results from such activities.</p>

<p>Should you encounter any bugs, glitches, lack of functionality or other problems on the website, please let us know immediately so we can rectify these accordingly. Your help in this regard is greatly appreciated.</p>

<p>You must be 18 or older to use the beta version of SIRF.us.</p>  
<p></p>
<p>Thanks,</p> 
<p>The SIRF team</p>
    </div>
</div>
				</div>
			</div>
            </div>