<section class="favoritesListTab">
            <script type="text/ng-template" id="favoritestpl.html"> 
				<a class="topiclistimage" href="#/favorites/{{thisUser}}/{{i.favouriteName}}" ng-style="{'background-image':'{{(i.imageLocation == 'default' || i.imageLocation == null || i.imageLocation == '' || i.imageLocation == 'self' || !i.imageLocation) ? 'url(images/no_image.png)' : 'url('+i.imageLocation+')'}}'}">
				<div class="ellipsis titleLabel" title="{{i.favouriteName}}" style="text-align:center">{{i.favouriteName}}</div>
				<span class="lockicon" ng-show="i.private"><img src="images/icon_lock.png" /></span>
				</a>
				<span class="removefavicon" ng-click="removeFavourite(i.favouriteName, $event)" ng-show="isValidUser"><i class="fa fa-trash" aria-hidden="true"></i></span>
				<div class="home-views-pan">
					<div>
						<i class="fa fa-arrow-up" aria-hidden="true"></i><i class="fa fa-arrow-down" aria-hidden="true"></i>
						<div class="pull-right">{{i.viewsCount}} views</div>
					</div>
				</div>
            </script>
        <div class="col-md-12 content favorites" ng-class="{'first-block':topicName =='trending'}"  style="padding-bottom: 10px;" ng-show="!isFavouriteEmpty">
				<h4 class="content-title" style="text-transform: capitalize;">Favorites <span class="pull-right closeLink"><a href="javascript:history.back();" title=""><i class="fa fa-times" aria-hidden="true"></i></a></span></h4>
			<ul class="ng-isolate-scope slick-initialized slick-slider slick-dotted" style="margin-top: 0;">
				<li ng-repeat="i in sirfUserFavList" class="ng-scope slick-slide slick-active" data-enabled="false" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 216px;">
					<div>
						<div class="" ng-include="'favoritestpl.html'"></div>
						<div class="loadingdataoverlay" ng-show="isloadingremoveFavourite"><div class="loadingdata"><div class="sirflogo">Sirf</div></div></div>
					</div>
				</li>
			</ul>
        </div>
		<div class="col-md-12 nexturlpan text-center" ng-click="nextList();" ng-show="!isFavouriteEmpty" ng-hide="!isNextAvailable">
			<div class="loadingdata" ng-show="!favList.slickConfig1Loaded"><div class="sirflogo">Sirf</div></div>
			<a href="javascript:void(0);" class="nextLink" ng-if="favList.slickConfig1Loaded"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
		</div>
		<div ng-show="isFavouriteEmpty" class="col-md-12 noUserData" style="padding:100px 0px;">
						<div class="noUserDataLabel">No Favorites<br>
							<a href="javascript:history.back();" style="font-size:12px;">Go to back</a>
						</div>
				</div>
</section>

