<script type="text/ng-template" id="allcategorieslisttpl.html">
				<a href="javascript:void(0);" ng-click="addToFavourite(i.favouriteName);"><img src="{{i.imageLocation}}" class="AllCategoriesListImage" /> {{i.favouriteName}}</a>
            </script>
		<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal();">&times;</button>
                <div class="modal-title title"><div class="customtitleCover"><h3>Add to Favorites</h3></div></div>
            </div>
            <div class="modal-body">
            <div class="AllCategoriesController">
            	<div class="AllCategoriesListContainer">
            		<ul>
            			<li ng-repeat="i in userFavouriteList">
            				<span class="userFavouriteListWrapper"><ng-include src="'allcategorieslisttpl.html'"></ng-include></span>
            			</li>
            		</ul>
            	</div>
            	<div class="modal-footer createNewCategoryLink">
            		<div class="form-actions">or 
						            <button type="button" oc-modal-open="{url: 'views/favorites/category/category.view.html', cls: 'favorites', controller:'CategoryController as cc'}" class="createnewcatbutton" style="text-align: center;"><i class="fa fa-plus" aria-hidden="true"></i> Create New Category</button>
						            <img ng-if="lc.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
						        </div>
            	</div>
			</div>
            </div>